.quoteInput {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form .quoteInput{
    margin-top: 25px;
    padding: 10px;
    margin: 10px;
    height: 90%;
    overflow: hidden;
    background-color: whitesmoke;
  }
  

#quoteSubmitBtn {
    margin-top: 35px;
    width: 15vw;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
}

.quoteOptions a {
    text-decoration: none;
    color: white;
}

.quoteOptions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#instructions {
    text-align: center;
    margin-top: 35px;
}