#aboutUs {
    position: relative;
    text-align: center;
    font-family: 'Merriweather', serif;
}

#aboutUs img {
    width: 100%;
    text-align: center;
}

#aboutUs .centered {
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 500%;
}
