#aboutUs {
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #112961;
}

#aboutUs img {
    width: 100%;
    text-align: center;
}

#aboutUs .centered {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 28%;
    font-size: 450%;
}
