.Header {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}

.logo {
    width: 10%;
    height: 10%;
    margin: 20px;
}

.title {
    font-size: 40px;
    align-self: center;
    margin: 20px;
}

/* Contact Button */

.btn {
    align-items: center;
    margin-left: 500px !important; /* May need to change this */
    margin-right: 40px;
    padding: 10px;
    display: flex;
}

.contact-btn {
    margin-left: 50px !important;
    padding-left:10px;
    cursor: pointer;
    height: 10%;
    width: 9em;
}

.contact-btn:hover {
    transition-duration: 0.4s;
    background-color: rgb(59, 103, 235);
    color: lightgray;
}

.contact-btn:focus {
    outline: 0;
}

.contact-btn a {
    color: white;
    text-decoration: none;
}
