.active {
    background-color: rgb(24, 70, 209);
    color: white;
}

#navBar {
    display: block;
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 50;
    top: 136 !important;
}

#fullwidth {
    display: none;
}

@media only screen and (max-width: 440px) {
    #standard {
        display: none;
    }
    #fullwidth {
        display: block;
    }
}