.carouselSlides {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: -10;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}

h1 {
    padding: 10px;
    margin-left: 50px;
    margin-top: 40px;
}
