.carouselSlides {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    z-index: inherit;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}

/*
h1 {
    padding: 50px;
    margin-left: 50px;
    margin-top: 0px;
} */

.detailedInsurance {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center
}

.insuranceType {
    min-height: 300px;
    padding: 5px 20px 5px 20px;
    background: white;
    margin: 20px 15px 15px 15px;
    width: 1000px;
}

#ellip {
   /* background: #6D8AF2;
    border-bottom-left-radius: 20% 15%;
    border-bottom-right-radius: 20% 15%; */
}

.hide {
    z-index: -1;
    position: relative;
}
